# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Add any directories, files, or patterns you don't want to be tracked by version control
**/*.iml
**/.idea
**/out